:root {
    --color-fondo: #1e1e1e; /* Gris oscuro */
    --color-claro: #3a3a3a; /* Gris más claro */
    --color-texto: #ffffff; /* Blanco para texto */
    --color-acento: #ffd700; /* Amarillo para destacar */
    --fuente-principal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --margen-base: 20px;
}

/* Globales */

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente-principal);
    background: linear-gradient(to top, var(--color-fondo), var(--color-claro));
    color: var(--color-texto);
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor {
    width: min(90%);
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contenedor {
        width: min(60%, 80rem);
    }
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

p {
    margin: 0;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

/* Utilidades */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.destacar {
    color: var(--color-acento);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Header */

.header {
    margin-top: 5rem;
}

.contenedor-header {
    display: flex; /* Activa Flexbox */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 1.5rem; /* Espacio entre los elementos */
}

.imagen-header {
    height: 15rem;
    width: 15rem;
    border-radius: 100px;
    object-fit: cover;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.texto-header {
    flex: 1; /* Ocupa todo el espacio disponible */
}

.texto-header h1 {
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-header {
    width: 100%; /* Ocupa todo el ancho */
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.nav-header a {
    color: var(--color-texto);
    border: 1px solid var(--color-texto);
    border-radius: 1.5rem;
    padding: 0 1rem;
    background-color: #4B4B4B;
    transition: color 0.3s ease;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.nav-header a:hover {
    color: black;
    background-color: #D3D3D3;
    border: 1px solid black;
}

.nav-header svg path {
    transition: fill 0.3s ease;
}

.svg-linkedin:hover svg path {
    fill: black
}

.svg-github:hover svg path {
    fill: black
}

/* Perfil personal */

.seccion-personal {
    display: block;
    margin: 10rem 0;
}

@media (min-width: 768px) {
    .seccion-personal {
        display: flex;
        flex-direction: column;
        margin: 10rem 0;
        gap: 1rem;
    }
}

.contenedor-personal {
    display: block;
    margin: 5rem 0;
}

@media (min-width: 768px) {
    .contenedor-personal {
        display: flex;
        justify-content: space-between;
        align-items: center; /* Alinea los elementos al principio */
        gap: 1rem;
    }
    .contenedor-personal h3 {
        flex: 1;
    }
    
    .contenido-personal {
        flex: 2; /* Asegura que los párrafos ocupen el espacio restante */
    }
}

/* Habilidades y áreas de experiencia */
.titulo-seccion {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.seccion-habilidad {
    display: block;
    width: 70%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .seccion-habilidad {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem; /* Espaciado entre columnas */
        margin: 10rem 0;
        width: 100%;
    }
}

.contenedor-habilidad {
    background-color: #3a3a3a;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.titulo-habilidad {
    margin: 0 0.5rem;
}

/* Footer */

.footer {
    padding: 3rem 0;
    font-size: 1.3rem;
}